#drumKit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}



img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

img.playing {
    transform: scale(1.1);
}
